.profile-modal-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile-modal-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #7c9da7cc;
}

.profile-modal-content {
	min-width: 600px;
	min-height: 600px;
	background-color: white;
	padding: 40px;
	border-radius: 10px;
	box-sizing: border-box;
	position: relative;
	display: flex;
	flex-direction: column;
}

.profile-modal-content > button {
	position: absolute;
	top: 5px;
	right: 10px;
	background-color: transparent;
	border: none;
	font-size: 24px;
	font-weight: 600;
	cursor: pointer;
	outline: none;
}

.profile-modal-content > button:hover {
	font-size: 26px;
}

.profile-modal-header,
.profile-modal-footer {
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile-modal-header > p {
	font-size: 24px;
}

.profile-modal-footer {
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile-modal-body {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
	justify-content: center;
}

.profile-modal-profile-img {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	background-color: black;
	cursor: pointer;
}

.profile-modal-profile-img-holder {
	position: relative;
	background-color: #7c9da7;
	border-radius: 4px;
}

/*.profile-modal-content-holder {
	position: relative;
	display: flex;
	flex: 1;
	width: 100%;
	height: 70px;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}*/

.profile-modal-edit-icon {
	position: absolute;
	top: 5px;
	right: 5px;
	display: none;
}

.profile-modal-profile-img-holder:hover > .profile-modal-edit-icon {
	display: block;
	cursor: pointer;
}

#profileImg {
	display: none;
}

@media only screen and (max-width: 1080px) {
	.profile-modal-content {
		min-width: 90%;
	}
}